src/main/resources/xsd/animal.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="animalType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="weight" type="xs:double"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"/>
        <xs:attribute name="genderId" type="xs:int"/>
        <xs:attribute name="habitatId" type="xs:int"/>
        <xs:attribute name="feedingId" type="xs:int"/>
    </xs:complexType>

    <xs:element name="animal" type="animalType"/>
</xs:schema>