src/main/resources/xsd/animal_room.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="animalRoomType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="capacity" type="xs:int"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"/>
        <xs:attribute name="zooId" type="xs:int"/>
    </xs:complexType>

    <xs:element name="animalRoom" type="animalRoomType"/>
</xs:schema>