src/main/resources/xsd/customer.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="customerType">
        <xs:sequence>
            <xs:element name="timesVisitingZoo" type="xs:int"/>
        </xs:sequence>
        <xs:attribute name="customerId" type="xs:int" use="required"/>
        <xs:attribute name="personId" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:element name="customer" type="customerType"/>
</xs:schema>