src/main/resources/xsd/person.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="personType">
        <xs:sequence>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="phoneNumber" type="xs:string"/>
            <xs:element name="age" type="xs:int"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"/>
        <xs:attribute name="genderId" type="xs:int"/>
        <xs:attribute name="countryId" type="xs:int"/>
    </xs:complexType>

    <xs:element name="person" type="personType"/>
</xs:schema>